

body {
  font-size: 16px;
  margin: 0;
  padding-top: 1em;
  .calculator { //fix width for container
    max-width: 20em;
    box-sizing: border-box;
    border: 1px #333 solid;
    border-radius: 5px;
    margin: 0 auto; //center align horizontally
  }
}
