<!doctype html>
<html>
<head>
  <title>Calculator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="scripts/main.js"></script>
  <link rel="stylesheet" href="styles/main.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Orbitron:700" rel="stylesheet">
</head>
%body
  %div.calculator
    %div.display
      %input.input
    %div.keyboard
      %button 1
      %button 2
      %button 3
      %button 4
      %button 5
      %button 6
      %button 7
      %button 8
      %button 9
      %button 0
      %button .
      %button.ops.plus +
      %button.ops &#47;
      %button.ops &#45;
      %button.ops &#42;
      %button.clear AC
      %button.equal &#61;
</html>
